
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    
}
::-webkit-scrollbar-track{
  background-color:black;
}
::-webkit-scrollbar-thumb {
  background-color:#E31B6D;
}
::-webkit-scrollbar{
  width: 5px;
}


*{
    box-sizing: border-box;
}
.mycontainer{
    background-color: #252934;
    height: 100vh;
}
.nav-link{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-size: 16px;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.customnav{
    background: white;
    /* height: 75px; */
}

.nav-link:hover{
    color: #E31B6D !important;
}

.active{
    border-bottom: solid #E31B6D;
}

/* 
    main section css 
*/
.mycontainer{
    background-color: mediumturquoise;
    height: 100vh;
}

.button.is-primary {
    background-color: coral;
    border-color: transparent;
    color: #fff;
    transition: padding;
}
.button.is-primary.is-hovered, .button.is-primary:hover {
    background-color: #00c4a7;
    border-color: transparent;
    color: #fff;
    padding-bottom: 2px;
    padding-top: 2px;
}   
.button.is-rounded {
    border-radius: 290486px;
    padding-left: 1em;
    padding-right: 1em;
}
.button.is-medium {
    font-size: 1.25rem;
} 

.details
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.details h1{
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.name{
    color: #E31B6D;
}


.type
{
    font-size: 1.3rem;
}

/* 
    about me section
*/


.lines
{
    width: 40px;
    height: 5px;
    background-color: #0078ff;
    margin: 0 auto;
}

#aboutme h1{
    font-size: 32px;
    font-weight: 600;
}

/* 
    portfolio section 
*/

#portfolio h1{
    font-size: 32px;
    font-weight: 600;
}

#portfolio h2{
    font-size: 28px;
}

.bgImage{
    background: url('./img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}