body{
    padding: 0;
    margin: 0;
    
}

*{
    box-sizing: border-box;
}
.mycontainer{
    background-color: #252934;
    height: 100vh;
}
.nav-link{
    color: white !important;
    font-family: 'Lilita One', cursive;
    letter-spacing: 1px;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.customnav{
    background: #1B242F !important;
    /* height: 75px; */
}

.nav-link:hover{
    color: #E31B6D !important;
}

.active{
    border-bottom: solid #E31B6D;
}
/* 
    main section css 
*/
.details
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: 'Righteous', cursive;
    color: white;
}

.name{
    color: #E31B6D;
}


.type
{
    font-size: 30px;
}

/* 
    about me section
*/

section{
    margin-top: 70px;
}

.lines
{
    width: 40px;
    height: 5px;
    background-color: #0078ff;
    margin: 0 auto;
}
.box-shadow-full{
    padding: 45px 30px; 
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.06), 0 2px 5px 0 rgba(0,0,0,.2);
}